@using AuthenticationSystem.Domain.Role
@model AuthenticationSystem.Domain.User.Users
@{
    var roles = ViewBag.roles as List<Roles>;
}
<!--begin::Modal dialog-->
<div class="modal-dialog modal-dialog-centered mw-650px">
    <!--begin::Modal content-->
    <div class="modal-content rounded">
        <!--begin::Modal header-->
        <div class="modal-header pb-0 border-0 justify-content-end">
            <!--begin::Close-->
            <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                <i class="fa fa-close fs-1"></i>
            </div>
            <!--end::Close-->
        </div>
        <!--begin::Modal header-->
        <!--begin::Modal body-->
        <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
            <!--begin:form-->
            <form id="kt_modal_new_target_form" class="form" method="post" asp-controller="User" asp-action="AddUser">
                <!--begin::Heading-->
                <div class="mb-13 text-center">
                    <!--begin::Title-->
                    <h1 class="mb-3">کاربر جدید</h1>
                    <!--end::Title-->
                </div>
                <!--end::Heading-->
                <!--begin::Input group-->
                <div class="d-flex flex-column mb-8 fv-row">
                    <!--begin::Tags-->
                    <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                        <span class="required">شماره همراه</span>
                    </label>
                    <!--end::Tags-->
                    <input asp-for="PhoneNumber" required="" type="text" class="form-control form-control-solid" placeholder="شماره همراه">
                </div>

                <div class="d-flex flex-column mb-8 fv-row">
                    <!--begin::Tags-->
                    <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                        <span class="required"> نام و نام خانوادگی</span>
                    </label>
                    <!--end::Tags-->
                    <input asp-for="FullName" required="" type="text" class="form-control form-control-solid" placeholder="نام و نام خانوادگی">
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div class="mb-5">
                    <!--begin::Tags-->
                    <label class="required fw-semibold fs-6 mb-5">سطح دسترسی</label>
                    <!--end::Tags-->
                    <!--begin::سطح دسترسی-->
                    <!--begin::Input row-->
                    @foreach (var item in roles)
                    {
                        <div class="d-flex fv-row">
                            <!--begin::رادیو-->
                            <div class="form-check form-check-custom form-check-solid">
                                <!--begin::Input-->
                                <input required="" class="form-check-input me-3" name="role" type="radio" value="@item.Id" id="@item.Name">
                                <!--end::Input-->
                                <!--begin::Tags-->
                                <label class="form-check-label" for="@item.Name">
                                    <div class="fw-bold text-gray-800">@item.Name</div>
                                </label>
                                <!--end::Tags-->
                            </div>
                            <!--end::رادیو-->
                        </div>
                        <!--end::Input row-->
                        <div class="separator separator-dashed my-5"></div>
                    }



                    <!--end::Input row-->
                    <!--end::سطح دسترسی-->
                </div>
                <!--end::Input group-->

                <div class="mb-5">
                    <!--begin::Tags-->
                    <label class="required fw-semibold fs-6 mb-5">سطح دسترسی</label>
                    <!--end::Tags-->
                    <!--begin::سطح دسترسی-->
                    <!--begin::Input row-->
                    <div class="d-flex fv-row">
                        <!--begin::رادیو-->
                        <div class="form-check form-check-custom form-check-solid">
                            <!--begin::Input-->
                            <input class="form-check-input me-3" required="" asp-for="RoleId" type="radio" value="1" id="AdminRole">
                            <!--end::Input-->
                            <!--begin::Tags-->
                            <label class="form-check-label" for="AdminRole">
                                <div class="fw-bold text-gray-800">مدیریت</div>
                                <div class="text-gray-600">سطح دسترسی مدیریت برای دسترسی به مدیریت انبار ها ، کاربران ، نتایج انبارگردانی و ...</div>
                            </label>
                            <!--end::Tags-->
                        </div>
                        <!--end::رادیو-->
                    </div>
                    <!--end::Input row-->
                    <div class="separator separator-dashed my-5"></div>
                    
                    <div class="d-flex fv-row">
                        <!--begin::رادیو-->
                        <div class="form-check form-check-custom form-check-solid">
                            <!--begin::Input-->
                            <input class="form-check-input me-3" required="" asp-for="RoleId" type="radio" value="2" id="userRole">
                            <!--end::Input-->
                            <!--begin::Tags-->
                            <label class="form-check-label" for="userRole">
                                <div class="fw-bold text-gray-800">کاربر سیستم</div>
                                <div class="text-gray-600">سطح دسترسی کاربر سیستم برای دسترسی به قسمت انبارگردانی و رندوم شماری کالا</div>
                            </label>
                            <!--end::Tags-->
                        </div>
                        <!--end::رادیو-->
                    </div>



                    <!--end::Input row-->
                    <!--end::سطح دسترسی-->
                </div>

                <!--begin::Actions-->
                <div class="text-center">
                    <button data-bs-dismiss="modal" class="btn btn-light me-3">انصراف</button>
                    <button type="submit" id="kt_modal_new_target_submit" class="btn btn-primary">
                        <span class="indicator-label">ثبت</span>
                        <span class="indicator-progress">
                            لطفا صبر کنید...
                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
                    </button>
                </div>
                <!--end::Actions-->
            </form>
            <!--end:form-->
        </div>
        <!--end::Modal body-->
    </div>
    <!--end::Modal content-->
</div>
<!--end::Modal dialog-->
